<header id="header">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-md-3">
        <div id="logo">
          <a href="index.html"><img src="assets/img/yoga-sense-3.svg" alt="" title="" id="logo-img"/></a>
        </div>
      </div>
      <div class="col-auto">
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a routerLink="pose" routerLinkActive="active">Try</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
