<div id="home-container">
  <app-header></app-header>

  <section class="banner-area relative main-content" id="section-info">
    <div class="overlay overlay-bg"></div>
    <div class="container-fluid">
      <div class="row fullscreen d-flex align-items-center justify-content-between">
        <div class="col-lg-6 col-md-6 banner-img">
          <img class="img-fluid" src="assets/img/main.svg" alt="">
        </div>
        <div class="banner-content col-lg-6 col-md-6">
          <h1 class="text-uppercase">
          <span>Yoga Sense AI</span> to <br> Shape your body with AI
          </h1>
          <a routerLink="pose" class="primary-btn mt-40">Try now</a>
        </div>
      </div>
    </div>
  </section>


</div>

